$bodyColor : #102146;
$btnColor: #034078;
$whiteColor: #FFFFFF;

@mixin display {
  display: flex;
  justify-content: space-between;
}

#header{
  position: fixed;
  z-index: 99;
  width: 110%;
  backdrop-filter: blur(40px);
  padding: 20px 0;

.header {
  @include display();
  align-items: center;
  .logo {
    @include display();
    margin: 19px 184px 0 15px;
    .header-nav{
      padding: 0 508px 0 0;
    }
    .header-nav a{
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: #FFFFFF;
      text-decoration: none;
      margin-left: 20px;
    }
  }
  .right_site {
    display: flex;
    align-items: center;

    .afterFollow{
      display: flex;
      justify-content: space-between;
      text-align: center;
      align-items: center;
      gap: 20px;
      .bell{
        color: #FFFFFF;
        font-size: 30px;

      }
      .Profil{
        width: 140px;
        height: 40px;
        border: 2px solid #044076;
        font-family: 'Montserrat' , sans-serif;
        background: transparent;
        color: #FFFFFF;
        border-radius: 10px;
        padding: 5px;
        cursor: pointer;
      }
    }

    .Enter {
      //margin-left: 25px;

      text-align: center;
      color: $whiteColor;
      background: transparent;
      text-decoration: none;
      margin: 0 20px;
    }

    .header-btn {
      width: 145px;
      height: 35px;
      background: $btnColor;
      border-radius: 5px;
      padding: 5px;
      color: $whiteColor;
      cursor: pointer;
    }
  }

}

}
.enter{
  display: none;
}
.enterBlock{
  display: block;
}
.header--mobile_menu_icon{
  display: none;
}

@media (max-width: 768px) {
  #header {

    .header--mobile_menu_icon {
      display: block;
      position:  relative;
      z-index: 10;
    }
    .header {
      .nav-link-mobile a {
        margin: 10px 0 ;
        color: #FFFFFF;
        padding: 20px 0;
      }
      .header-btn {
        padding: 13px 30px;
        border-radius: 10px;
        background: #044076;
        color: #fff;
      }
      text-align: center;
      .logo {
        display: flex;
        flex-direction: column;

        .nav-link-mobile {
          display: flex;
          flex-direction: column;
      }

        .header-nav a {
          display: none;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          text-align: center;
          color: #FFFFFF;
          text-decoration: none;
          margin-left: 20px;
        }

      }
      .right_site {
        display: none;
        .Enter {
         color: #FFFFFF;
          font-size: 20px;
        }
      }
      .nav-link-mobile{
        display: block;
        margin: 0 0 0 40px;
        color: #FFFFFF;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        text-decoration: none;
      }
    }
  }
}
@media(max-width: 1024px){
  #header{
    width: 1239px;
    .header{
      .logo{

        .header-nav{
          padding: 0 621px 0 0;
        }
      }
      .right_site{
        //width: 20px;
        .Enter{
          margin-left: -337px;
        }
      }
    }
  }
}
@media (max-width: 1280px) {
  #header{
  width: 1484px;
  }
}
@media (max-width: 1220px) {
  #header{
    width: 1439px;
    .header{
      .logo{
        .header-nav{
          padding: 0 405px 0 0;
        }
      }
    }
  }
}
@media (max-width: 1150px) {
  #header{
    width: 1340px;
  }
}
@media (max-width: 1160px) {
  #header{
    width: 1330px;
  }
}
@media (max-width: 976px) {
  #header{
    width: 1170px;
    .header{
      .logo{
        .header-nav{
          padding: 0 176px 0 0;
        }
        .nav-link-mobile{
          padding: 30px 0;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
@media (max-width: 815px) {
  #header{
    width: 1000px;
    .header{
      .logo{
        .header-nav{
          padding: 0 78px 0 0;
        }
        .nav-link-mobile{
          left: -200px;
        }
      }
    }
  }
}
@media (max-width: 865px) {
  #header{
    .header--mobile_menu_icon{
      left: 15px;
      display: block;
      position: relative;
      z-index: 10;
    }
    .header{
      .logo{
        display: flex;
        flex-direction: column;
       align-items: center;
        .header-nav{
          display: none;
        }
        .nav-link-mobile{
          display: flex;
          flex-direction: column;
          margin: 0 259px 0 0;
          .link{
            color: #FFFFFF;
            padding: 11px 45px;
            //margin: -8px 278px 0 0;
            text-align: center;
          }
        }
        .right_site{
          display: none;
        }
        .nav-link-mobile{
          .Enter{
            width: 97px;
            height: 25px;
            background: transparent;
            color: wheat;
            font-size: 20px;
            font-weight: 500;
          }
          .header-btn{
            width: 106px;
            height: 30px;
            background: #044076;
            color: #FFFFFF;
            border-radius: 5px;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
@media (max-width: 630px) {
  #header{
    .header--mobile_menu_icon{
      left: -140px;
      display: block;
      position: relative;
      z-index: 10;
    }
    .header{
      .logo{
        .header-nav{
          display: none;
        }
        .nav-link-mobile{
          display: flex;
          margin: 0 370px 0 0;
        }
        .right_site{
          display: none;
        }
        .nav-link-mobile{
          .header-btn{
            width: 134px;
            height: 38px;
            background: #044076;
            color: #FFFFFF;
            border-radius: 5px;
            margin-top: -18px;
          }
        }
      }
    }
  }
}
@media (max-width: 576px) {
  #header{
    .header--mobile_menu_icon{
      left: -190px;
      display: block;
      position: relative;
      z-index: 10;
    }
    .header{
      .logo{
        .header-nav{
        }
      }
    }
  }
}
@media (max-width: 376px) {
  .header--mobile_menu_icon{
    left: 440px;
    margin: 0 107px -37px 460px;
    display: flex;
    position: relative;
    z-index: 10;
  }
}
@media (max-width: 320px) {
  #header{
    .header--mobile_menu_icon{
      left: -430px;
      display: block;
      position: relative;
      z-index: 10;
    }
    .header{
      .logo{
        .header-nav{
          display: none;
        }
        .nav-link-mobile{
          display: flex;
          left: -143px;
          position: relative;
          z-index: 99;
          align-items: center;
          justify-content: center;
        }
        .right_site{
          display: none;
        }
      }
    }
  }
}




