$bodyColor : #102146;
$btnColor: #034078;
$whiteColor: #FFFFFF;

@mixin display {
  display: flex;
  justify-content: space-between;
}


#header{
  position: fixed;
  z-index: 99;
  width: 100%;
  backdrop-filter: blur(40px);
  padding: 20px 0;
.header {
  @include display();
    .nav-btn{
      display: none;
    }
  .logo {
    @include display();
    .header-nav{
      .nav-btn{
        display: none;
      }
    }
    .header-nav a{
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: #FFFFFF;
      text-decoration: none;
      margin-left: 20px;
    }
  }
  .right_site {
    display: flex;
    .Enter {
      margin-left: 25px;
      text-align: center;
      color: $whiteColor;
      text-decoration: none;
      margin: 0 20px;
    }

    .header-btn {
      width: 145px;
      height: 35px;
      background: $btnColor;
      border-radius: 5px;
      padding: 5px;
      color: $whiteColor;
      cursor: pointer;
    }
  }
.header--mobile_menu_icon{
  display: none;
}
}
}


@media (max-width: 768px) {
  #header{
    .header{

      .logo{
        .header_logo{
        }
        .header-nav{

        .link{

        }
        }
      }
      .right_site{

          .Enter{
            display: block;
          }
          .header-btn{
            display: block;
          }
        }

      .header--mobile_menu_icon{
          display: block;
      }
    }
    .header--mobile_menu_icon{

    }
  }
}
