#footer {
  .container {
    .footer {
      padding: 50px 0;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      &--logo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        img {

        }

        h1 {
          border: 2px solid #fff;
          margin: 10px 0;
          display: inline-block;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          color: #FFFFFF;
        }
      }

      &--link {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        h1 {
          font-weight: 500;
          margin: 0 0 10px 0;
          font-size: 20px;
          text-align: center;
          color: #FFFFFF;
        }

        a {
          font-weight: 500;
          font-size: 15px;
          line-height: 25px;
          text-align: center;
          color: #FFFFFF;
        }
      }

      &--Social-network {
        h1 {
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
          color: #FFFFFF;
          margin: 0 0 20px 0;

        }

        &--link {
          width: 212px;

          a {
            color: #fff;
            font-size: 30px;
            margin: 20px;
          }
        }

      }

      &--Contacts {
        display: flex;
        align-items: center;
        flex-direction: column;

        h1 {
          margin: 0 0 10px 0;
          font-weight: 400;
          font-size: 20px;
          line-height: 24px;
          color: #FFFFFF;
        }

        a {
          padding: 10px 0;
          display: flex;
          align-items: center;
          font-weight: 400;
          font-size: 16px;
          text-align: center;
          color: #FFFFFF;

        }
      }

      &--address {
        h1 {
          margin: 0 0 10px 0;
          font-weight: 400;
          font-size: 20px;
          text-align: center;
          color: #FFFFFF;
        }

        p {
          display: flex;
          align-items: center;
          padding: 10px 0;
          font-weight: 400;
          font-size: 15px;
          line-height: 18px;
          text-align: center;
          color: #FFFFFF;

        }
      }
    }
  }
}

// 1440px 1024px 992px  768px  576px  376px 320px
@media (max-width: 1440px) {
  #footer {
    .container {
      width: 90%;
    }
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 992px) {
  #footer {
    .container {
      width: 90%;

      .footer {
        &--address {
          display: none;
        }

        &--Social-network {
          &--link {
            width: 180px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #footer {
    .container {
      .footer {
        display: flex;
        flex-direction: column;
        &--logo {
          display: flex;
          margin: 20px 0;
        }
        &--Contacts {
          margin: 20px 0;
          display: flex;
          align-items: flex-start;
        }
        &--Social-network {
          &--link {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 300px;
           a {
             margin: 10px 0;
           }
          }
        }
        &--link {
          display: none;
        }
      }
    }
  }
}



@media (max-width: 576px) {
  #footer {
    .container {
      .footer {
        flex-direction: column;

        &--link {
          margin: 20px 0;
        }

        &--logo {
          margin: 20px 0;
          display: flex;
          flex-direction: row;

          h1 {
            float: right;
          }
        }

        &--Social-network {
          width: 200px;
        }
      }
    }
  }
}

@media (max-width: 376px) {

}

@media (max-width: 320px) {


}













































