.show{
  height: 180px;
  opacity : 1;
}
.accordionContent{
  height: 0;
  opacity: 0;
  transition: all 600ms ease-in-out;
}
#Mein {
  padding: 100px 0 0 0;

  .container {
    .main {
      display: flex;
      align-items: center;

      &--left {
        margin: 196px 0;

        h1 {
          font-weight: 700;
          font-size: 48px;
          color: #FFFFFF;
        }

        p {
          font-weight: 500;
          font-size: 20px;
          color: #FFFFFF;
          padding: 30px 0;
        }
      }

      &--right {
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          z-index: -1;
        }
      }
    }

    .articles {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        font-weight: 700;
        font-size: 36px;
        color: #FFFFFF;
        padding: 220px 0 80px 0;
      }

      &--group {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &--block {
          width: 377px;
          height: 355.44px;
          background: #FFFFFF;
          border-radius: 19px;
          margin: 10px;

          &--text {
            padding: 0 20px;

            h6 {
              font-weight: 500;
              font-size: 14px;
              padding: 10px 0 0 0;
              color: #898989;
            }

            p {
              font-weight: 600;
              font-size: 16px;
              color: #000000;
              padding: 10px 0;
            }

            &--link {
              display: flex;
              align-items: center;
              justify-content: space-between;

              a {
                display: flex;
                align-items: center;
                font-weight: 500;
                font-size: 15px;
                color: #044176;
              }
            }
          }
        }
      }

      button {
        width: 246px;
        height: 60px;
        background: #034078;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        border-radius: 5px;
        margin: 20px 0;
      }
    }

    .subscribe {
      padding: 100px 0;
      display: flex;
      align-items: center;
      justify-content: center;

      &--group {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 90%;
        height: 240px;
        background: #FFFFFF;
        box-shadow: -5px -3px 10px rgba(16, 23, 47, 0.45), 9px 9px 9px rgba(10, 15, 33, 0.45);
        border-radius: 10px;
        padding: 10px 20px;

        &--left {
          h1 {
            font-weight: 700;
            font-size: 28px;
            color: #000000;
          }

          p {
            font-weight: 500;
            font-size: 16px;
            color: #000000;
          }
        }

        &--right {
          flex-direction: column;
          display: flex;

          a {
            button {
              color: #FFFFFF;
              width: 250px;
              height: 50px;
              border-radius: 5px;
              background: #044076;
            }
          }

          button {
            background: transparent;
            margin: 10px 0;
          }
        }

      }
    }

    .question {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;

      &--left {
        h1 {
          font-weight: 700;
          font-size: 48px;
          color: #FFFFFF;
          padding: 20px 0;

        }
      }

      &--right {
        .l-inner {
          details {
            summary {
              font-weight: 500;
              font-size: 18px;
              line-height: 24px;
              color: #FFFFFF;

              span {

              }
            }
          }

          p {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #FFFFFF;
          }
        }
      }
    }

    .application {
      padding: 100px 0;
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      flex-wrap: wrap;

      &--left {
        h1 {
          font-weight: 700;
          font-size: 36px;
          line-height: 44px;
          text-transform: uppercase;
          padding: 20px 0;
          color: #FFFFFF;
        }

        p {
          font-weight: 400;
          font-size: 16px;
          color: #FFFFFF;
        }
      }

      &--right {
        &--farm {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          h1 {
            font-weight: 400;
            font-size: 16px;
            color: #B5B5B5;
            padding: 20px 0 0 0;
          }

          input {
            width: 670px;
            height: 57px;
            background: rgba(27, 41, 89, 0.4);
            color: white;
            padding-left: 10px;
            font-size: 20px;
            border-radius: 10px;
          }

          button {
            height: 56px;
            width: 271px;
            border-radius: 10px;
            background: #044076;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: white;
            margin: 20px 0;
          }
        }
      }
    }
  }



  .p-section-faq__item:nth-of-type(n+2) {
    margin-top: 32px;
  }

  .p-faq__question {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    color: white;
    cursor: pointer;
    font-size: 15px;
  }

  .p-faq__icon {
    display: block;
    flex-shrink: 0;
    position: relative;
    width: 16px;
    transform-origin: center;
  }

  .p-faq__icon::after {
    content: "";
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    transition: transform .3s;
    transform: translateY(-80%) rotate(45deg);
    border-right: 2px solid white;
    border-bottom: 2px solid white;
  }

  .is-opened .p-faq__icon::after {
    transform: translateY(-25%) rotate(-135deg);
  }

  .p-faq__answer {
    overflow: hidden;
  }

  .p-faq__answer-inner {
    padding: 16px 32px;
    border-top: none;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .l-inner {
    margin: 0 auto;
    max-width: 648px;
    width: 100%;
    padding: 24px;
  }
}

// 1440px 1024px 992px  768px  576px  376px 320px

@media (max-width: 1440px) {
  #Mein {
    .container {
      width: 90%;
    }
  }
}

@media (max-width: 992px) {
  #Mein {
    .container {
      .main {
        &--left {
          margin: 100px 0;
        }
        &--right{
          &--image{
            display: none;
          }
        }
      }

      .articles {
        h1 {
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #Mein {
    .container {
      .main {
        &--left {
          margin: 70px 0;

          h1 {
            font-size: 40px;
          }
        }
      }

      .articles {
        h1 {
        }
      }
    }
  }
}

@media (max-width: 576px) {
  #Mein {
    .container {
      width: 90%;

чё


    .articles h1 {
      padding: 93px 0 52px 0;
      font-size: 25px;
    }


    .subscribe {
      &--block {
        padding: 40px;
      }

      &--group {
        &--left {
          h1 {
            font-size: 23px;
          }

          p {
            font-size: 14px;
            padding: 10px 0;
          }
        }
      }
    }

    .question {
      &--left {
        display: flex;

        h1 {
          font-size: 24px;
        }

        img {
          width: 30%;
        }
      }
    }


    .application {
      &--right {
        &--farm {
          input {
            width: 500px;
          }
        }
      }
    }

    .main {
      &--left {
        margin: 40px 0;

        h1 {
          font-size: 33px;
        }

        p {
          font-size: 17px;
        }
      }

      &--right {
        img {
          left: -2px;
        }
      }
    }

  }
}

}

@media (max-width: 376px) {
  #Mein {
    .container {
      width: 90%;

      .l-inner {
        width: 80%;

        details {
          summary {
            font-size: 13px;
          }
        }
      }

      .main {
        &--left {

          h1 {
            font-size: 29px;
            text-align: center;
          }

          p {
            font-size: 15px;
            text-align: center;
          }
        }

        &--right {
          img {
            top: 356px;
          }
        }
      }

      .application {
        &--left {
          h1 {
            font-size: 24px;
            text-align: center;
          }

          p {
            font-size: 12px;
            text-align: center;
          }
        }

        &--right {
          &--farm {
            input {
              width: 277px;
            }
          }
        }
      }

      .articles {
        h1 {
          padding: 180px 0 52px 0;
        }

        &--group {
          &--block {
            img {
              width: 290px;
            }

            width: 290px;
            height: 315px;

            &--text {
              p {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 320px) {
  #Main {
    .container {
      .main {
        .articles {
          h1 {
            font-size: 23px;
          }
        }
      }

      .subscribe {
        &--group {
          height: 267px;

          &--left h1 {
            font-size: 20px;
          }
        }
      }


    }
  }
}