#Purchases {
  .container {
    .purchases {
      padding: 166px 0 0 0;

      h1 {
        font-weight: 700;
        font-size: 36px;
        color: #FFFFFF;
      }

      hr {
        width: 478px;
        background: #A4A4A4;
      }

      &--block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 478px;


        p {
          padding: 30px 0 10px 0;
          font-weight: 400;
          font-size: 16px;
          color: #FFFFFF;
        }
      }
    }
  }
}

//#Purchases .container .purchases--block {
//  display: flex;
//  align-items: center;
//  justify-content: space-between;
//  width: 90%;
//}
@media (max-width: 320px) {
  #Purchases {
    .container {
      .purchases {
        hr {
          width: 90%;
        }
        &--block {
          width: 90%;
        }
      }
    }
  }
}