#Subscriptions {
  .container {
    .subscriptions {
      padding: 100px 0 0 0;
      h1 {
        font-weight: 700;
        font-size: 36px;
        color: #FFFFFF;
      }
      &--text {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 40%;
        padding: 50px 0 ;

        &--left {
          h2 {
            font-weight: 700;
            font-size: 18px;
            padding: 10px 0;
            color: rgba(255, 255, 255, 0.8);
          }
        }
        &--right {
          padding: 0 40px;
          h3 {
            font-weight: 700;
            font-size: 18px;
            line-height: 35px;
            color: rgba(255, 255, 255, 0.8);
          }
        }
      }
      &--block {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        &--left {
          width: 349px;
          height: 481px;
          background: #FFFFFF;
          border-radius: 10px;
          padding: 20px;
          margin: 20px;
          &--in {
            background: transparent;
            margin: 20px 0;
            border: 1px solid #11416F;
            backdrop-filter: blur(4.90909px);
            width: 178px;
            height: 40px;
            border-radius: 3.27273px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          h6 {
            font-weight: 600;
            font-size: 16px;
            color: #000000;
          }
          h2 {
            font-weight: 700;
            font-size: 33px;
            color: #000000;
          }
          p {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            padding: 10px 0;
            color: #000000;
          }
          button {
            margin: 100px 0 0 80px;
            width: 178px;
            height: 40px;
            background: linear-gradient(94.1deg, #043C6F 2.34%, #154574 99.76%);
            backdrop-filter: blur(4.90909px);
            border-radius: 3.27273px;
          }
        }
        &--right {
          h6 {

          }
          h2 {

          }
          p {

          }
          button {

          }
        }
      }
    }
  }
}

@media (max-width: 320px) {
  #Subscriptions {
    .container {
      .subscriptions {
        h1 {
          font-size: 20px;
        }
        &--block {
          &--left {
            width: 70%;
            height: 400px;
            button {
              margin: 0;
            }
          }
        }
      }
    }
  }
}